.Header {
    display: flex;
    justify-content: flex-end;
    color: black;
    padding: 15px;
    background-color: tomato;
    box-shadow: 0px 4px 4px -4px black;
    font-size: 1rem;
    z-index: 2;
}